header {
    background-color: #3f3e3e;
    width: 98%;
    height: 60px;
    overflow: hidden; // Assurez-vous que rien ne déborde
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px #757373; 
    margin:  0% 1% 0% 1%;
    
    div {
      color: white;
      line-height: 20px; // Assurez-vous que le texte est centré verticalement
      margin: 0;
      padding: 0;
    }
}
  