.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo-containerbas{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: -200px;
}

.loader {
    display: block;
    width: 12em;
    height: 12em;
    overflow: visible;
}


.loader .dash path {
  stroke: #2AF;
  stroke-width: 1px;
  stroke-linecap: round;
  animation: dashArray var(--sped, 2s) ease-in-out infinite,
    dashOffset var(--sped, 2s) linear infinite;
}


/*////////////////////////////////////////////// 
            Parametre pour Linke 
/////////////////////////////////////////////*/
.loader .linkdash path {
  stroke: #2AF;
  stroke-width: 100px;
  stroke-linecap: round;
  animation: dashArray var(--sped, 2s) ease-in-out infinite,
    dashOffset var(--sped, 2s) linear infinite;
}

/*////////////////////////////////////////////// 
            Parametre pour INSTA 
/////////////////////////////////////////////*/

.loader .instadash path {
  stroke: #E1306C;
  stroke-width: 3px;
  stroke-linecap: round;
  animation: dashArray var(--sped, 2s) ease-in-out infinite,
    dashOffset var(--sped, 2s) linear infinite;
}
.loader .instadashicone path {
  stroke: #E1306C;
  stroke-width: 40;
  stroke-linecap: round;
  animation: dashArray1 var(--sped, 1s) ease-in-out infinite,
  dashArray1 var(--sped, 1s) linear infinite;
}

/*////////////////////////////////////////////// 
            Parametre pour INSTA 
/////////////////////////////////////////////*/

.loader .githubdash path {
  stroke: #2ff63c;
  stroke-width: 40px;
  stroke-linecap: round;
  animation: dashArray var(--sped, 2s) ease-in-out infinite,
    dashOffset var(--sped, 2s) linear infinite;
}
.loader .githubiconcdash path {
  stroke: #2ff63c;
  stroke-width: 1px;
  stroke-linecap: round;
  animation: dashArray var(--sped, 2s) ease-in-out infinite,
    dashOffset var(--sped, 2s) linear infinite;
}
@keyframes dashArray1 {
 

  50% {
    stroke-dasharray: 0 359 1 0;
  }

  100% {
    stroke-dasharray: 359 1 0 0;
  }
}
@keyframes dashArray {
  0% {
    stroke-dasharray: 0 1 359 0;
  }

  50% {
    stroke-dasharray: 0 359 1 0;
  }

  100% {
    stroke-dasharray: 359 1 0 0;
  }
}

