<body>
    <section class="calendar">
        <section class="month">
            <img src="assets/flechegauche.webp" alt="fleche gauche" class="image-icone">
            <h2>Juillet 2024</h2>
            <img src="assets/flechedroite.webp" alt="fleche gauche" class="image-icone">  
        </section>

        <div class="days">
            <div class="day">Lun</div>
            <div class="day">Mar</div>
            <div class="day">Mer</div>
            <div class="day">Jeu</div>
            <div class="day">Ven</div>
            <div class="day">Sam</div>
            <div class="day">Dim</div>
        </div>

        <div class="semaine1 semaines">
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
        </div>

        <div class="semaine2 semaines">
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
        </div>

        <div class="semaine3 semaines">
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
        </div>

        <div class="semaine4 semaines">
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
        </div>

        <div class="semaine5 semaines">
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
        </div>

        <div class="semaine6 semaines">
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
            <div class="case"></div>
        </div> 
    </section>
</body>
