/* You can add global styles to this file, and also import other style files */
body{
    padding: 0%;
    margin: 0%;
    background-color: black;
    height: 100%;
}

html {
    height: 70%;
}

.image-icone{
    height: 50px;
    width: 50px;
}
.icone-entreprise{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

