<div class="calendar">
  <div class="calendar-header">
    <p class="head-day"></p>
    <p class="head-month"></p>
  </div>
  <div class="calendar-controls">
    <button class="pre-button">Previous</button>
    <button id="reset">Reset</button>
    <button class="next-button">Next</button> 
  </div>
  <table class="calendar-table">
    <thead>
      <tr>
        <th>Dim</th>
        <th>Lun</th>
        <th>Mar</th>
        <th>Mer</th>
        <th>Jeu</th>
        <th>Ven</th>
        <th>Sam</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of [0,1,2,3,4,5]">
        <td class="case"></td>
        <td class="case"></td>
        <td class="case"></td>
        <td class="case"></td>
        <td class="case"></td>
        <td class="case"></td>
        <td class="case"></td>
      </tr>
    </tbody>
  </table>
</div>
