#carousel {
  position: absolute;
  display: flex;
  left: 10%;
  width: 630%; /* Augmenté pour correspondre à la largeur totale des items */
  height: 200%;
  transition: transform 0.5s ease;
}

.itemCarousel {
  position: relative;
  width: 14.2857%; /* Ajusté pour 6 items */
  height: 100%;
}

#menu {
  position: fixed;
  left: 47%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  width: 20%;
  background-color: #0011ff65;
  border-radius: 25px;
  z-index: 2;
}

#menu img {
  cursor: pointer;
}

.carousel-button {
  background-color: white;
  border: none;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-button.active {
  background-color: gray; /* Indicateur de l'élément actif */
}

.barreVisuel {
  position: absolute;
  bottom: 30%;
  left: 0;
  width: 100%;
  height: 4px;
  animation: btn-anim1 1s linear infinite;
  animation-timing-function: linear;
}

@keyframes btn-anim1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}


#item1 {
    background-color: #00ff3336;
    color: aliceblue;
}
.persojeu{
    width: 70%;
}
#indicationJeu{
    width: 20%;
    display: flex;
    position: absolute; /* Fixe la position de l'élément par rapport à la fenêtre */
    bottom: 0%; /* Positionne l'élément à 0 pixels du bas de la page */
    right: 13%; 
    z-index: 44;
}
.presentationProjet{
    position: relative;
    top: 5%;
    height: 80%;
    width: 100%;
    padding: 2%;
}


.presentationjeu{
  position: relative;  
  top: 6%;
}
#indicationtrailet{
  width: 20%;
  display: flex;
  z-index: 49;
}

.contraint-droite{
  background-color: rgba(255, 255, 255, 0.80);
  color: black;
  border-radius: 25px;
  border: 1px solid #000000;
  padding: 10px; /* Ajout d'un padding pour donner de l'espace autour du texte */
  height: auto; /* Modification de la hauteur pour s'adapter au contenu */
  overflow-wrap: break-word; /* Permet au texte de se découper sur plusieurs lignes si nécessaire */
}

.sprite-container {
  position: relative;
  width: 48px; /* largeur d'une frame */
  height: 44px; /* hauteur d'une frame */
  overflow: hidden;
  margin-top: 20px;
}

#cowboy {
  width: 48px; /* largeur d'une frame */
  height: 44px; /* hauteur d'une frame */
  background: url('./../../ressource/projet/item1/spriteM.png') 0 0;
  position: absolute;
}
#cactus {
  width: 40px; /* largeur d'une frame */
  height: 40px; /* hauteur d'une frame */
  background: url('./../../ressource/projet/item1/Cactus_Sheet.png') 0 0;
  position: absolute;
}



#item2 {
  background-color: #0066B1;
  color: aliceblue;
  overflow-wrap: break-word;
}

#item3 {
  background-color: #35495e;
  color: aliceblue;
  overflow-wrap: break-word;
}

#item4 {
  background-color: #000000;
  color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}

#container3D{
  position: absolute;
  top: 15%;
  left: 5%;
  width: 90%; /* Remplacez par la largeur souhaitée */
  height: 100%; /* Remplacez par la hauteur souhaitée */
  border: 1px solid #ccc; /* Optionnel, juste pour voir le contour */
}
#containerLogo{
  position: relative;
  display: flex;
  margin-left: 25%;
  top: 140%;
  width: 40%;
}
.logo-containerbas{
  margin: 0 5% 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
  
  
.loader {
    display: block;
    width: 12em;
    height: 12em;
    overflow: visible;
}
  
  
.loader .dash path {
  stroke: #2AF;
  stroke-width: 1px;
  stroke-linecap: round;
  animation: dashArray var(--sped, 2s) ease-in-out infinite,
    dashOffset var(--sped, 2s) linear infinite;
}
  
svg{
    margin: 1%;
}

/*////////////////////////////////////////////// 
            Parametre pour Linke 
/////////////////////////////////////////////*/
.loader .linkdash path {
  stroke: #2AF;
  stroke-width: 100px;
  stroke-linecap: round;
  animation: dashArray var(--sped, 2s) ease-in-out infinite,
    dashOffset var(--sped, 2s) linear infinite;
}

/*////////////////////////////////////////////// 
            Parametre pour INSTA 
/////////////////////////////////////////////*/

.loader .instadash path {
  stroke: #E1306C;
  stroke-width: 3px;
  stroke-linecap: round;
  animation: dashArray var(--sped, 2s) ease-in-out infinite,
    dashOffset var(--sped, 2s) linear infinite;
}
.loader .instadashicone path {
  stroke: #E1306C;
  stroke-width: 40;
  stroke-linecap: round;
  animation: dashArray1 var(--sped, 1s) ease-in-out infinite,
  dashArray1 var(--sped, 1s) linear infinite;
}

/*////////////////////////////////////////////// 
            Parametre pour GITHUB 
/////////////////////////////////////////////*/

.loader .githubdash path {
  stroke: #2ff63c;
  stroke-width: 40px;
  stroke-linecap: round;
  animation: dashArray var(--sped, 2s) ease-in-out infinite,
    dashOffset var(--sped, 2s) linear infinite;
}
.loader .githubiconcdash path {
  stroke: #2ff63c;
  stroke-width: 1px;
  stroke-linecap: round;
  animation: dashArray var(--sped, 2s) ease-in-out infinite,
    dashOffset var(--sped, 2s) linear infinite;
}
@keyframes dashArray1 {
 

  50% {
    stroke-dasharray: 0 359 1 0;
    }
  
    100% {
      stroke-dasharray: 359 1 0 0;
    }
  }
  @keyframes dashArray {
    0% {
      stroke-dasharray: 0 1 359 0;
    }
  
    50% {
      stroke-dasharray: 0 359 1 0;
    }
  
    100% {
      stroke-dasharray: 359 1 0 0;
    }
  }
  


#item5 {
  background-color: #500150;
  color: aliceblue;
  overflow-wrap: break-word;
}

#item6 {
  background-color: #2C3E50;
  color: aliceblue;
  overflow-wrap: break-word;
}
#visuel{
  position: relative; 
  height: 30%;
}
#extension{
  display: flex;
}
#item7{
  background-color: #35495e;
  color: aliceblue;
  overflow-wrap: break-word;
}

p{
  overflow-wrap: break-word;
}



