#carousel {
  position: absolute;
  display: flex;
  left: 10%;
  width: 540%; /* Augmenté pour correspondre à la largeur totale des items */
  height: 200%;
  transition: transform 0.5s ease;
}

.itemCarousel {
  position: relative;
  width: 16.666%; /* Ajusté pour 6 items */
  height: 100%;
}

#menu {
  position: fixed;
  left: 47%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  width: 20%;
  background-color: #0011ff65;
  border-radius: 25px;
  z-index: 2;
}

#menu img {
  cursor: pointer;
}

.carousel-button {
  background-color: white;
  border: none;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-button.active {
    background-color: gray; /* Indicateur de l'élément actif */
}

#item1 {
    background-color: #00ff3336;
    color: aliceblue;
}
.persojeu{
    width: 70%;
}
#indicationJeu{
    width: 20%;
    display: flex;
    position: absolute; /* Fixe la position de l'élément par rapport à la fenêtre */
    bottom: 0%; /* Positionne l'élément à 0 pixels du bas de la page */
    right: 13%; 
    z-index: 44;
}
.presentationProjet{
    position: relative;
    top: 5%;
    height: 80%;
    width: 100%;
    padding: 2%;
}
/* #video{
    width: 28%; /* Ou une largeur spécifique, par exemple 800px 
    height: 28%; /* Ajustez en fonction du ratio souhaité 
    max-width: 100%; /* Assure que la vidéo ne dépasse pas la largeur de son conteneur 
    border: 5px solid #333; /* Bordure autour de l'iframe 
    border-radius: 10px; /* Coins arrondis 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre douce autour de l'iframe 
    margin: 20px auto; /* Centrer l'iframe horizontalement avec un espacement vertical 
    display: block; /* Assure que l'iframe est affiché comme un bloc pour l'alignement 
} */

.presentationjeu{
  position: relative;  
  top: 6%;
}
#indicationtrailet{
  width: 20%;
  display: flex;
  z-index: 49;
}

.contraint-droite{
  background-color: rgba(255, 255, 255, 0.80);
  color: black;
  border-radius: 25px;
  border: 1px solid #000000;
  padding: 10px; /* Ajout d'un padding pour donner de l'espace autour du texte */
  height: auto; /* Modification de la hauteur pour s'adapter au contenu */
  overflow-wrap: break-word; /* Permet au texte de se découper sur plusieurs lignes si nécessaire */
}
#item2 {
    background-color: #0066B1;
    color: aliceblue;
}

#item3 {
    background-color: #ff00f7;
    color: aliceblue;
}

#item4 {
    background-color: #0011ff;
    color: aliceblue;
}

#container3D{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%; /* Remplacez par la largeur souhaitée */
    height: 70%; /* Remplacez par la hauteur souhaitée */
    border: 1px solid #ccc; /* Optionnel, juste pour voir le contour */
}
#containerLogo{
    position: relative; 
    left: 60%; 
    width: 40%;
}
.logo-containerbas{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: -200px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  
  
.loader {
    display: block;
    width: 12em;
    height: 12em;
    overflow: visible;
}
  
  
.loader .dash path {
  stroke: #2AF;
  stroke-width: 1px;
  stroke-linecap: round;
  animation: dashArray var(--sped, 2s) ease-in-out infinite,
    dashOffset var(--sped, 2s) linear infinite;
}
  
svg{
    margin: 1%;
}

/*////////////////////////////////////////////// 
            Parametre pour Linke 
/////////////////////////////////////////////*/
.loader .linkdash path {
  stroke: #2AF;
  stroke-width: 100px;
  stroke-linecap: round;
  animation: dashArray var(--sped, 2s) ease-in-out infinite,
    dashOffset var(--sped, 2s) linear infinite;
}

/*////////////////////////////////////////////// 
            Parametre pour INSTA 
/////////////////////////////////////////////*/

.loader .instadash path {
  stroke: #E1306C;
  stroke-width: 3px;
  stroke-linecap: round;
  animation: dashArray var(--sped, 2s) ease-in-out infinite,
    dashOffset var(--sped, 2s) linear infinite;
}
.loader .instadashicone path {
  stroke: #E1306C;
  stroke-width: 40;
  stroke-linecap: round;
  animation: dashArray1 var(--sped, 1s) ease-in-out infinite,
  dashArray1 var(--sped, 1s) linear infinite;
}

/*////////////////////////////////////////////// 
            Parametre pour GITHUB 
/////////////////////////////////////////////*/

.loader .githubdash path {
  stroke: #2ff63c;
  stroke-width: 40px;
  stroke-linecap: round;
  animation: dashArray var(--sped, 2s) ease-in-out infinite,
    dashOffset var(--sped, 2s) linear infinite;
}
.loader .githubiconcdash path {
  stroke: #2ff63c;
  stroke-width: 1px;
  stroke-linecap: round;
  animation: dashArray var(--sped, 2s) ease-in-out infinite,
    dashOffset var(--sped, 2s) linear infinite;
}
@keyframes dashArray1 {
 

  50% {
    stroke-dasharray: 0 359 1 0;
    }
  
    100% {
      stroke-dasharray: 359 1 0 0;
    }
  }
  @keyframes dashArray {
    0% {
      stroke-dasharray: 0 1 359 0;
    }
  
    50% {
      stroke-dasharray: 0 359 1 0;
    }
  
    100% {
      stroke-dasharray: 359 1 0 0;
    }
  }
  
  

#item5 {
    background-color: #ff00aa;
    color: aliceblue;
}

#item6 {
    background-color: #fffb00;
    color: aliceblue;
}

